<p>
  contact-details works!
</p>

<form *ngIf="contact" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <h2>{{contact.firstName}} {{contact.lastName}}</h2>
  <!--label for="id">ID: {{contact.id}}</label><br /-->
  <div class="form-group">
    <md-input-container class="example-full-width">
    <input mdInput type="text" class="form-control" id="id" readonly name="id"
      [(ngModel)]="contact.id" #spyLN="ngModel" placeholder="Record #">
    </md-input-container>
  </div>

  <!-- "spyXX" below are just variable names; can be named anything to achieve desired functionality -->
  <div class="form-group">
    <!--label for="firstName">First Name:</label-->
    <md-input-container class="example-full-width">
      <input mdInput type="text" class="form-control" id="firstName" required name="firstName"
        [(ngModel)]="contact.firstName" #spyFN="ngModel" required placeholder="First Name">
        <span [hidden]="spyFN.valid || spyFN.pristine" style="color: red;">*</span>
    </md-input-container>
  </div>

  <div class="form-group">
    <!--label for="lastName">Last Name:</label-->
    <md-input-container class="example-full-width">
      <input mdInput type="text" class="form-control" id="lastName" required name="lastName"
        [(ngModel)]="contact.lastName" #spyLN="ngModel" required placeholder="Last Name">
        <span [hidden]="spyLN.valid || spyLN.pristine" style="color: red;">*</span>
    </md-input-container>
  </div>

  <div [hidden]="myForm.valid" style="color: red;">* Please input the required information above!</div>

  <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>
